{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es3",
    "loose": true,
    "externalHelpers": false
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "mode": "usage",
    "coreJs": "3"
  }
}
