{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": null,
    "target": "es3",
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "es6"
  }
}
